/* PREGUNTAS FRECUENTES */

@import "./variables";

/* Main */
.preguntas {
    &__lista {
        min-height: 100vh;
        &__contItem {
            width: 90%;
            height: 90%;
            border-radius: 25px;
            background-color: $color-fondo-tarjetas;            
            &__h5 {
                font-size: 1.6rem;
                color: #fff;
            }
            
            &__texto {
                font-size: 1.2rem;
                font-weight: 300;
                color: #fff;
            }
        }
    }
}

