/* PREGUNTAS FRECUENTES */

/* Main */
.preguntas {
    &__lista {
        height: 100vh;
        &__contItem {
            width: 90%;
            height: 90%;
            border-radius: 25px;
            background-color: rgba(255, 255, 255, 0.3);            
            &__h5 {
                font-size: 1.6rem;
                color: #fff;
            }
            
            &__texto {
                font-size: 1.2rem;
                font-weight: 300;
                color: #fff;
            }
        }
    }
}

