/* MEDIA QERYS */

/* INDEX */
@media screen and (max-width: 424px) {
    
    /* HEADER */

    .main {
        margin-top: 400px;
    }

    /* INDEX: Mercadería */

    .mercaderia__lista__item {
        height: 400px;
        width: 400px;
    }
    
}

@media screen and (min-width: 425px) {
    
    /* HEADER */

    .main {
        margin-top: 350px;
    }

    /* INDEX: Mercadería */
    
    .mercaderia__lista__item {
        height: 450px;
        width: 450px;
    }

}

@media screen and (min-width: 768px) {

    /* HEADER */

    .main {
        margin-top: 250px;
    }
    
    /* INDEX: Mercadería */
    
    .mercaderia__lista__item {
        height: 350px;
        width: 350px;
    }
    
}

@media screen and (min-width: 1200px) {

    /* HEADER */

    .navegacion__contenedor__lista {
        min-width: 650px;
    }
    
}

  




